h1 {
    color: #78ab46;
    text-align: center;
}

header {
    position: fixed;
    top: 0;
    z-index: 1028;
}

.left {
	position: fixed;
    top: 0;
    z-index: 1028;
}

.layout_content {
    top: 200;
}

footer {
    position: fixed;
    height: 35px;
    bottom: 0;
    width: 89%;
    background-color: #cccc
}

footer p {
    padding: 15px;
}


.login_align {
    padding-top: 90px;
}

.header, .footer { overflow: hidden; position: fixed; }
.page-content { overflow: auto; }